body {
    background: rgb(131,58,180);
    background: -moz-linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%,   rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#833ab4",endColorstr="#fcb045",GradientType=1);
    font-family: Helvetica, Arial, sans-serif;
}
/* Declares the custom font - Dichiaro il font personalizzato */
@font-face {
    font-family: "8bit";
    src: url("Resources/8bitfont.ttf");
}
#maintitle {
    font-family: "8bit";
    text-align: center;
    color:black;
    font-size: 2em;
    padding-top: 2em;
    padding-bottom: 3em;
    padding: 2em 8em;

}
#gitButton, #mailButton {
    font-size: 2em;
    border: solid 2px black;
    padding: 0.5em 0.5em;
    margin-right: 2em;
}
#buttons a {
    color: white;
    text-decoration: none;
}
#buttons {
    text-align: center;
}
#recentProjects {
    padding-top: 4em;
    text-align: center;
}

#proj1, #proj2 {
    display: inline-block;
    border: solid black 2px;
    width: 45%;
    margin: 1em 1em;
    border-radius: 10px;
    padding: 1em 1em;
}





/*Making the layout mobile firnedly*/
@media screen and (max-width: 420px) {
    #maintitle {
        font-family: "8bit";
        text-align: center;
        color:black;
        font-size: 5em;
        padding-top: 2em;
        padding-bottom: 3em;
    }
}
